// change the theme
$theme-colors: (
  "primary": #00a2ff,
  "danger": #ff4136,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

//import react-image-gallery styling
@import "~react-image-gallery/styles/scss/image-gallery.scss";

/* --------------------
 Fonts 
 -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Suez+One&display=swap");

/* --------------------
  Variables 
  -------------------- */
:root {
  --blue: #00a2ff;
  --black: #111111;
  --grey: #828282;
  --white: #ffffff;
  --dark-grey: #4a4a4a;
  --light-grey: rgba(130, 130, 130, 0.5);
}

/* --------------------
 Global Settings 
 -------------------- */

body {
  padding-top: 92px;
  margin: 0;
  font-family: "PT Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--white);
  opacity: 1;
  text-decoration: underline;
}

.pLight {
  color: var(--white);
  margin-bottom: 0;
}

h3 {
  text-transform: uppercase;
  font-family: "Suez One";
  font-size: 30px;
  margin: 0;
}

h4 {
  text-transform: uppercase;
  font-family: "Suez One";
  font-size: 20px;
  margin: 0;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: var(--light-grey);
  margin: 0;
}

h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: var(--light-grey);
  margin: 0;
}

ul {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.13px;
  color: var(--grey);
}

.light {
  color: var(--white);
}

.grey {
  color: var(--light-grey);
}

.form-select {
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
}

.form-select::placeholder {
  color: var(--light-grey);
}

.form-control::placeholder {
  color: var(--light-grey);
}

/* --------------------
 Header
  -------------------- */

.header-nav {
  /* width: 1299px; */
  height: 92px;
  /* left: calc(50% - 1299px / 2 - 0.5px); */
  /* top: 0px; */

  font-size: 16px;
  font-family: "Suez One", sans-serif;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--black);
}

.nav-link {
  color: var(--blue);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--blue);
  text-decoration: none;
}

.grey-link {
  color: var(--grey);
  font-size: 17px;
  text-decoration: none;
  //   margin-right: 10px;
}

.navLogo {
  margin-right: 20px;
}

.navIcon {
  color: var(--grey);
}
.navIcon:hover {
  color: var(--blue);
}

/* --------------------
 Sub Header
  -------------------- */

.sub-header {
  /* position: absolute; */
  /* width: 1300px; */
  margin-bottom: 30px;
  height: 77px;
  /* left: calc(50% - 1300px / 2);
   top: 92px; */

  font-size: 17px;
  font-family: "Suez One", sans-serif;
  color: #828282;
  text-transform: uppercase;
  background: #eaeaea;
}

.grey-link:hover {
  color: var(--blue);
  text-decoration: none;
}

/* --------------------
    Top Banner
  -------------------- */

.topBannerContainer {
  margin-bottom: 20px;
  padding: 0;
}

.topBannerButton {
  width: 160px;
  border: 3px solid var(--white) !important;
  color: var(--white) !important;
}
.topBannerButton:hover {
  border: 3px solid var(--white) !important;

  color: var(--white) !important;
}

.topBannerButtonContainer {
  padding-left: 140px;
}

.topBannerTextContainer {
  padding-left: 55px;
}

/* --------------------
    Main Containers
  -------------------- */

.mainContainer {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.mainContentContainer {
  max-width: 95%;
}

.sideContainer {
  width: "30%";
  max-width: 400px;
}

.infoContainer {
  width: "70%";
  max-width: 880px;
  overflow-x: hidden;
}

.horizontalLineMain {
  width: 602px;
  //   height: 0;
  border: 1px solid var(--light-grey);
}

.carouselContainer {
  display: flex;
  justify-content: center;
}

.infoPurchaseContainer {
}

/* -------------------- 
  Buttons 
  -------------------- */

.btn {
  text-transform: uppercase;
  font-family: "Suez One";

  color: var(--white);
}

.btn-outline {
  border: 2px solid;
  border-radius: 4px;
  color: var(--blue);
  //   width: 115px;
  //   height: 42px;
}

.btn-outline:hover {
  color: var(--white);
  text-decoration: none;
}

.tester1 {
  background-color: "red";
  width: 100%;
  height: 89px;
}

.tester2 {
  background-color: "green";
  width: 100%;
  height: 200px;
}

/* --------------------
Discount Tag
  -------------------- */

.discountTagContainer {
  width: 100px;
  max-width: 100px;
  height: 25px;
  background-color: var(--blue);
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.discountTagText {
  color: var(--white);
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.discountTagIcon {
  margin-right: 5px;
}

/* --------------------
Low Stock Tag
  -------------------- */

.lowStockTagContainer {
  width: 100px;
  max-width: 100px;
  height: 31px;
  background-color: rgba(0, 0, 0, 0.56);

  border-radius: 4px;
  padding: 0;
  margin: 0;
}

/* --------------------
 Search Box
  -------------------- */
.searchBoxContainer {
  width: 366px;
  max-width: 366px;
  height: 433px;
  margin: 0;
  margin-bottom: 40px;
  border: 3px solid var(--blue);
  padding: 0;
}

.searchBoxHeader {
  height: 72px;
  width: 360px;
  background-color: var(--blue);
  margin: 0;
  margin-bottom: 0;
  padding: 5px;
}

.sbHeader1 {
  height: 40%;
}
.sbHeader2 {
  height: 60%;
}

.searchBoxTitle {
  color: var(--white);
  height: 26px;
  margin-left: 30px;
}

.searchBoxFormContainer {
  padding: 0 30px;
  padding-top: 20px;
  height: 360px;
}

.searchBoxRow {
  height: 60px;
}

// .searchBoxPriceRange {
//   height: 60px;
//   width: 313px;
// }

.searchBoxButton {
  width: 174px;
  height: 58px;
  font-size: 20px;
  border-radius: 0;
}

.searchBoxButton:hover {
  color: var(--blue);
  border: 3px solid var(--blue);
  background-color: var(--white);
}

.searchBoxIcon {
  margin-right: 11px;
}
.searchBoxTitleIcon {
  margin-left: 11px;
  width: 18px;
}
.searchBoxTitleBackIcon {
  margin-right: 11px;
  width: 18px;
}

.react-tag-input__tag {
  background-color: var(--blue) !important;
}

.react-tag-input__tag__content {
  color: var(--white);
}

.react-tag-input__tag__remove {
  background-color: var(--blue) !important;
  color: var(--white);
}
.react-tag-input__tag__remove::before {
  background-color: var(--white) !important;
  color: var(--white);
}
.react-tag-input__tag__remove::after {
  background-color: var(--white) !important;
  color: var(--white);
}

.react-tag-input__input {
  font-size: 0.8em !important;
}

/* --------------------
 Advert
  -------------------- */

.commercialContainer {
  padding: 0 30px;

  margin-bottom: 20px;
}

// .advertContainer {
//   width: 366px;
//   max-width: 366px;
//   height: 433px;
//   margin: 0;
//   margin-bottom: 40px;
//   border: 3px solid var(--blue);
//   padding: 0;
// }

/* --------------------
 Mailing List
  -------------------- */

.mailContainer {
  width: 356px;
  height: 259;
  margin-bottom: 20px;
  background-color: var(--blue);
}

.mailBoxFormContainer {
  padding: 0 30px;
  padding-top: 20px;
}

.mailIconContainer {
  height: 34;
  width: 40;
}

.mailIcon {
  color: var(--white);
  height: 34;
  width: 40;
}

.mailButton {
  width: 174px;
  background-color: var(--white);
  color: var(--blue);
  height: 58px;
  font-size: 20px;
  border-radius: 0;
}

.mailButton:hover {
  color: var(--white);
  border: 3px solid var(--white);
  background-color: var(--blue);
}

#formHorizontalEmail {
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
}

/* --------------------
 Footer
  -------------------- */

.footer-nav {
  height: 229px;
  max-width: 100%;
  background-color: var(--dark-grey);
  padding: 40px 120px;
  margin: 0 auto;
}

.footerHeader {
  color: var(--white);
  margin-bottom: 10px;
  text-transform: capitalize;
}

.footerLinks {
  color: var(--white);
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 10px;
}

.footerIcon {
  color: var(--white);
  margin-right: 40px;
  height: 34;
  width: 40;
}

/* --------------------
Product Carousel
  -------------------- */

.productCarouselContainer {
  width: 420px;
  padding: 0;
}

.image-gallery {
  width: 420px;
}
.image-gallery-thumbnail-image {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

/* --------------------
Product Info
  -------------------- */

.productInfoContainer {
  width: 355px;
  height: 385px;
  margin-bottom: 20px;
  padding: 22px 22px;
  border: 6px solid var(--blue);
}

.productInfoTitle {
  margin-bottom: 6px;
}

.productInfoSubTitle {
  margin-bottom: 17px;
}

.productInfoStoreIcon {
  margin-right: 6px;
}

.productInfoMainSection {
  padding: 0 20px;
}
.productInfoDetailsSection {
  padding: 0 40px;
  height: 70px;
}

.productInfoMainHeaderText {
  text-transform: capitalize;
  color: var(--grey);
  font-weight: 400;
  font-size: 16px;
}
.productInfoMainHeaderTextInfo {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  color: var(--black);
}

.productInfoOriginalPrice {
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
  text-align: end;
  text-decoration: line-through;
}
.productInfoFinalPrice {
  text-align: end;
}
.productInfoDiscountContainer {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

.productInfoFinalPriceContainer {
  width: 30%;
}

.horizontalLine {
  width: 285px;
  height: 0;
  border: 1px solid var(--light-grey);
  margin-left: 18px;
  margin-bottom: 20px;
}

/* --------------------
Purchase Form
  -------------------- */

.purchaseFormContainer {
  width: 355px;
  height: 325px;
  margin-bottom: 20px;
  padding: 24px 35px;
  background-color: #eaeaea;
}

.purchaseFormButton {
  width: 308px;
  height: 85px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 20px;
  border-radius: 0;
  font-size: 30px;
}

.purchaseFormButton:hover {
  color: var(--blue);
  border: 3px solid var(--blue);
  background-color: var(--white);
}

.purchaseFormIcon {
  margin-right: 20px;
  width: 18px;
}

/* --------------------
 Product Card
  -------------------- */

.productCardContainer {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.card {
  width: 240px;
  height: 270px;
  margin-right: 41px;
  margin-bottom: 47px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-radius: 0;
}

.card:hover {
  outline: 3px solid var(--blue) !important;
}

.cardViewLink {
  color: var(--grey);
  font-weight: 700;
}
.cardViewLink:hover {
  color: var(--blue);
  text-decoration: none;
}

.productCardArrowIcon {
  margin-left: 10px;
}

/* -------------------- 
 Responsive
 -------------------- */

@media (max-width: 1262px) {
  .productCarouselContainer {
    // width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .header-nav {
    padding-top: 0;
    align-items: center;
    justify-content: center;
  }

  .navbar .container {
    background-color: var(--white);
    padding: 15px;
    // border: 1px solid var(--light-grey);
  }

  .nav-link {
    // width: 120px;
  }
  .navbar-collapse {
    border-bottom: 1px solid var(--light-grey);
    padding: 10px 10px;
  }

  .loginButton {
    margin-left: 15px;
  }

  .sideContainer {
    display: none;
  }

  .productCarouselContainer {
    width: 100%;
    margin-bottom: 20px;
  }

  .image-gallery {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .productCardContainer {
    justify-content: center;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .sub-header {
    margin-bottom: 30px;
    height: 140px;
    padding: 8px 0;
  }

  .subHeaderHeader {
    font-size: 14px;
  }

  .subHeaderButtonContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-left: 40px;
  }

  .subHeaderLinkContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-right: 20px;
  }

  .sub-header .btn-outline {
    width: 150px;
  }

  .topBannerTextContainer {
    padding-left: 30px;
  }
  .topBannerButtonContainer {
    padding-left: 0;
    padding-right: 25px;
  }

  .topBannerHeader {
    font-size: 20px;
  }
  .topBannerSubHeader {
    font-size: 12px;
  }

  .productCarouselContainer {
    width: 100%;
    margin-bottom: 20px;
  }

  .image-gallery {
    width: 100%;
  }

  .card {
    margin-right: 0;
  }

  .moreFromHeader {
    font-size: 16px;
  }

  .footer-nav {
    padding: 20px;
    height: 100%;
  }
}
